# Backend
backend/.env
backend/__pycache__/
backend/app/__pycache__/
backend/app/**/__pycache__/
backend/uploads/
backend/lebeSsni.db
backend/lebeSsni.db-*

# Local DB
*.db
*.db-shm
*.db-wal

# Frontend
frontend/.env.local
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/tsconfig.tsbuildinfo
frontend/next-env.d.ts

# Python
*.pyc
__pycache__/
.env
